.bookmark-container{
    margin-left: 10px;
}


.spent-time{
    background: rgb(172, 210, 235);
    border: 1px solid rgb(122, 157, 180);
    border-radius: 8px;
    text-align: center;
    position: sticky;
    top: 70px;

}

.bookmarked{
    background: rgb(197, 235, 235);
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    margin-top: 20px;
}